APP_NAME="Psyco Test"
APP_ENV=production
APP_DEBUG=true
APP_TIMEZONE=Asia/Makassar
APP_URL=http://localhost:8001
APP_SUBDIRECTORY=mazu-engine

DB_PORT=8889
DB_HOST=127.0.0.1
DB_NAME=psyco-test
DB_USER=root
DB_PASS=root

# Google OAuth Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_ALLOWED_DOMAIN=

# Gmail SMTP Relay Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Psyco Test"
